{% extends "base.html" %}

{% block content %}
 <h1>Register</h1>
 <form action="" method="post" name="login">
     {{ form.hidden_tag() }}
     <p>
         Please enter your UserID:<br>
         {{ form.userid(size=80) }}<br>
	 {% for error in form.userid.errors %}
	   <span style="color: red;">[{{ error }}]</span>
	 {% endfor %}<br>
     </p>
	 <p>
		Password:<br>
		{{form.password(size=80)}}
	 {% for error in form.password.errors %}
	   <span style="color: red;">[{{ error }}]</span>
	 {% endfor %}<br>	
	 </p>
	 <p>
		Confirm Password:<br>
		{{form.confirm(size=80)}}
	 {% for error in form.confirm.errors %}
	   <span style="color: red;">[{{ error }}]</span>
	 {% endfor %}<br>	
	 </p>
     <p><input type="submit" value="Register"></p>
 </form>
{% endblock %}